@import '../App.module.scss';

.avatar {
    margin: 10px 10px;
  }
  
.playerCard {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    min-width: 200px;
  }
  
.button {
    margin: 0px 5px;
    color: purple;
    font-family:monospace
  }